@model FengZhen.Restaurant.WebApp.Models.FoodsListViewModel

@{
    ViewBag.Title = "Food Information";
}
@foreach (var p in Model.Foods)
{
    @Html.Partial("FoodSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.currentCategory }))
</div>

