@using FengZhen.Restaurant.Domain.Entities;
@model IEnumerable<Food>

@{
    ViewBag.Title = "All Foods";
}
@foreach (var p in Model)
{
    <div>
        <h3>@p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
    </div>
}

